<div class="chart-container">
  <mat-card>
    <form [formGroup]="chartForm">
      <mat-grid-list cols="2" rowHeight="2.5rem">
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Metrics" formControlName="metrics" (selectionChange)="getData()">
              <mat-option value="Tmax">Tmax (temperature)</mat-option>
              <mat-option value="Tmin">Tmin (temperature)</mat-option>
              <mat-option value="Rainfall">Rainfall(mm)</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Locations" formControlName="locations" (selectionChange)="getData()">
              <mat-option value="UK">UK</mat-option>
              <mat-option value="England">England</mat-option>
              <mat-option value="Scotland">Scotland</mat-option>
              <mat-option value="Wales">Wales</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Year From" formControlName="yearFrom" (selectionChange)="getData()">
              <mat-option [value]="year" *ngFor="let year of years">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Year To" formControlName="yearTo" (selectionChange)="getData()">
              <mat-option [value]="year" *ngFor="let year of years">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
  <mat-card>
    <canvas *ngIf="barChartData.length && yearsValid" baseChart [datasets]="barChartData" [labels]="barChartLabels"
      [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
    <mat-error *ngIf="!yearsValid">Selected years are not valid</mat-error>
  </mat-card>
</div>